.fileAttachment {
  @extend %boxshadow;
  width: 408px;
  padding: 0.8em 1.5em;
  margin: 1em;
  h3 {
    margin: 1em 0;
  }
  .fileAttachmentParent {
    display: flex;
    width: 100%;
    margin: 1em 0;
    .svgParent {
      position: relative;
      .iconFile {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10px;
        line-height: 10px;
        font-weight: 600;
        color: $white;
        width: 20.5px;
        height: 11.531px;
        width: 20.5px;
        // text-align: center;
      }
      .svgChild {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .infoParent {
      width: 100%;
      margin-left: 1em;
      .infoFile {
        display: flex;
        justify-content: space-between;
      }
      meter {
        width: 100%;
     
        &::-webkit-meter-bar {
          background-color: rgba(8, 160, 247, 0.1);
          border: none;
        }
        &::-webkit-meter-optimum-value {
          background-color: $VividCerulean;
        }
      }
    }
  }
}
