$VividCerulean: rgb(8, 160, 247);
$VividCeruleanOpacity: rgba(8, 160, 247, 0.2);
$CornflowerBlue: #7784ee;
$Mint: #46bd84;
$AliceBlue: #f4f7fc;
$MediumSeaGreen: #33ac72;
$Black: #121212;
$PaleLavender: #d2d7ff;
$AmericanSilver: #d0d0d0;
$white: #fff;
$OrangeSoda: #f85640;
$Fulvous: #e18109;
$OuterSpace: #41475e;
$GreenBlue: #1778b0;
$ChineseSilver: #c9c9c9;
$lightblack: rgba(18, 18, 18, 0.5);
$boxshadow: rgba(32, 56, 85, 0.15);
$AzureishWhite: #dbe3f1;
$Orchid: #d459e8;
$SlateBlue: #5f6ddd;
$KenyanCopper: #79170a;
$Snow: #fff8f8;
$Salem: #13854e;
$LightBrown: #bc741a;
$DarkSpringGreen: #10673e;
$SteelBlue: #3387b7;
$YellowOrange:#FBA63C;
$MediumSeaGreen:#34A770;
$FloralWhite:#FFF8EF;
$AzureishWhite:#DCF3EB;
$Lavender:#E1F2FC;



$font-size-xs: 11px;
$font-size-sm: 12px;
$font-size-m: 13px;
$font-size-lg: 14px;
$font-size-xl: 15px;
$font-size-xxl: 18px;

$font-Thin: 100;
$font-ExtraLight: 200;
$font-Light: 300;
$font-Normal: 400;
$font-Medium: 500;
$font-SemiBold: 600;
$font-Bold: 700;
$font-ExtraBold: 800;
$font-Black: 900;

$line-height-1: 12px;
$line-height-2: 13px;
$line-height-3: 17px;
$line-height-4: 18px;
$line-height-5: 20px;
$line-height-6: 21px;
$line-height-7: 22px;
$line-height-8: 23px;
$line-height-9: 27px;
$line-height-10: 15px;
$line-height-11: 32px;
$line-height-12: 25px;
