@import "./utils/typography";
@import "./common/general";
@import "./utils/mixins";
@import "./utils/colors";
@import "./grid";
@import "./utils/placeholder";

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-family: "Poppins";
}
img {
  height: 100%;
}
@import "./desktop.scss";
.helloWorld {
  background-color: black;
}
